@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.main {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  &__content {
    
    // margin-top: 1rem;
    // margin-right: 1rem;
}
