/* bio content */

$alabaster: #fafafa;
$hero-text: #ffffff;
$dark-black: #000000;
$light-black: #323232;
$silver: #afafaf;
$mercury: #e1e1e1;
$error-state: #d22d2d;
$main-blue: #0095ff;
$dark-blue: #0065ad;

/* header-footer content */
$background-footer-header: #323232;
$text-color: #ffffff;
