/* Brainflixcontent */

$alabaster: #fafafa;
$white-text: #ffffff;
$dark-black: #000000;
$light-black: #323232;
$silver: #afafaf;
$mercury: #e1e1e1;
$light-blue: #0095FF;
$dark-blue: #0065AD;
$error-state: #d22d2d;

