@font-face {
  font-family: "Avenir";
  src: url("./src/assets/fonts/AvenirNextLTPro.ttf") format("truetype"),
    url("./src/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Avenir";
  src: url("./src/assets/fonts/AvenirNextLTProBold.ttf") format("truetype"),
    url("./src/assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}


