@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.main {
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 1rem;
  padding-bottom: 0rem;
  &__header {
    margin: 0;
    color: $light-black;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 0.8rem;
  }
  &__stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:inherit;
    border-top: $mercury solid 1px;
    border-bottom: solid $mercury 1px;
    &__part {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 0.5rem 0;
      // padding-bottom: 1rem;
      margin: 0;
      &-block{
        display: flex;
        // flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        margin: 0;
        // height:31px;
        &-img{
          max-height: 1rem;
          padding-right: 0.5rem;
        }
      }
      &__line {
        margin: 0;
        // padding: 0.5rem 0rem;
        font-size: 0.8rem;
        color: $silver;
        padding: 0.5rem;
        padding-left: 0;
        &-bold {
          padding: 0;
          margin: 0;
          font-weight: 700;
          font-size: 0.8rem;
          color: $light-black;
          padding: 0.5rem;
          padding-left: 0;
        }
      }
    }
  }
  &__description {
    // padding: 1rem 0;
    font-size: 0.8rem;
    line-height: 1.5;
  }
  &__comments {
    font-weight: 700;
    font-size: 0.8rem;
    color: $light-black;
  }
}

@include medium {
  .main {
    padding: 2rem;
    padding-bottom: 0;
    &__header {
      font-size: 2rem;
      line-height: 1.2;
      width: 100%;
      margin-bottom: 0;
    }
    &__stats {
      width: 100%;
      justify-content: space-between;
      border-top: none;
      padding: 0.25rem;
      &__part {
        width: auto;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        margin: 0;
        width: fit-content;
        &__line {
          width: auto;
          // padding-right: 2rem;
          // padding-bottom: 0.5rem;
          &-bold {
            padding-right: 2rem;
          }
        }
      }
    }
    &__description {
      padding: 1rem 0;
      font-size: 0.91rem;
    }
    &__comments {
      font-size: 0.9rem;
      color: $light-black;
    }
  }
}

@include large {
  .main {
    padding-right: 0;
    &__header {
    }
    &__stats {
      &__part {
        &__line {
          // padding-right: 1.75rem;
        }
      }
    }
    &__description {
      padding-right: 1.5rem;
    }
  }
}
