@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.hero {
  width: 100vw;
  background-color: $silver;
  display: flex;
  justify-content: center;
  object-fit: contain;
  min-width: 20rem;
  background-color: black;
  &__video {
    width: 92vw;
    max-height: 35rem;
    aspect-ratio: 16/9;
  }
}

@include medium {
  .hero {
    min-height: 24.5rem;
  }
}

@include large {
  .hero {
    min-height: 24.5rem;
      &__video {
    width: 66vw;
      }
  }
}
